<div class="wrapper">
  <div id="box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="img-logo">
          <img src="assets/logo_full_color.svg" alt="wolox-logo" />
        </div>
        <div class="input-content">
          <input
            type="text"
            class="login-inputs"
            [class.error-focus]="
              (loginForm.get('email').hasError('required') && submitted) ||
              (loginForm.get('email').hasError('pattern') && submitted)
            "
            placeholder="Correo eléctronico"
            formControlName="email"
          />
          <span
            class="error-text"
            *ngIf="loginForm.get('email').hasError('required') && submitted"
          >
            <i class="fas fa-exclamation-circle"></i> El correo es
            requerido</span
          >

          <span
            class="error-text"
            *ngIf="loginForm.get('email').hasError('pattern') && submitted"
            ><i class="fas fa-exclamation-circle"></i> Formato de correo
            inválido</span
          >
        </div>

        <div class="input-content">
          <input
            type="password"
            class="login-inputs"
            [class.error-focus]="
              (loginForm.get('password').hasError('required') && submitted) ||
              (loginForm.get('password').hasError('minlength') && submitted)
            "
            placeholder="Contraseña"
            formControlName="password"
          />
          <span
            class="error-text"
            *ngIf="loginForm.get('password').hasError('required') && submitted"
          >
            <i class="fas fa-exclamation-circle"></i> La contraseña es
            requerida</span
          >

          <span
            class="error-text"
            *ngIf="loginForm.get('password').hasError('minlength') && submitted"
          >
            <i class="fas fa-exclamation-circle"></i> La contraseña debe
            contener al menos 3 caracteres</span
          >
        </div>

        <div class="aks-input-row">
          <input
            class="aks-input"
            type="checkbox"
            id="checkbox"
            name="checkbox"
            formControlName="session"
          />
          <label class="aks-input-label" for="checkbox">Mantener sesión</label>
        </div>

        <div class="input-content" *ngIf="!loading">
          <button class="login-button" type="submit">Iniciar Sesión</button>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
        <p class="error"  *ngIf="error">
          <i class="fas fa-exclamation-circle"></i> Ha ocurrido un error, por
          favor intenta luego.
        </p>
      </fieldset>
    </form>
  </div>
</div>
