@font-face {
  font-family: Monserrat;
  src: url(../../../assets/Fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: FiraSans;
  src: url(../../../assets/Fonts/Fira_Sans/FiraSans-SemiBold.ttf);
}

.box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.content {
  width: 50%;
  margin-top: 5%;
}

.content-line {
  margin-top: 5%;
  margin-right: 7%;
  height: 100px;
  text-align: center;
}

.benefit {
  position: relative;
  top: 20%;
  text-align: center;
  color: #2e2e2e;
  font-weight: 700;
}

/* .content-line img {
  width: 100px;
} */

.header {
  background-image: url("../../../assets/Backgrounds/Bg_Header.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.content .first-img {
  width: 400px;
}

.img-text {
  width: 50%;
  margin-top: 5%;
  position: relative;
}

.img-text-foot {
  width: 70%;
  position: relative;
  color: #2e2e2e;
}

.img-text-foot img {
  width: 100%;
}

.img-text img {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.container-row {
  margin: 0 auto;
  width: 85%;
}

.img-text h2 {
  position: absolute;
  top: 32%;
  left: 25%;
  width: 100%;
  font-family: Monserrat;
}
.img-text h2 span {
  color: white;
  letter-spacing: -1px;
  padding: 10px;
}
.img-text h2 span.spacer {
  padding: 0 5px;
  width: 100%;
}

.follow {
  margin-left: 15%;
}

.img-text-foot h2 {
  position: absolute;
  top: 32%;
  left: 20%;
  width: 100%;
  color: #2e2e2e;
  text-align: center;
}

.text-medium-foot {
  font-size: 1.2em;
}
.img-text-foot h2 span {
  letter-spacing: -1px;
  padding: 10px;
}
.img-text-foot h2 span.spacer {
  padding: 0 5px;
  width: 100%;
}

.button-wolox {
  border-radius: 1em;
  border: 2px solid #3787af;
  color: #fff;
  padding: 10px 70px;
  cursor: pointer;
}

.rigth-button {
  margin-left: 10%;
}

.rigth-button .button-wolox {
  margin-top: 5%;
}

.button-wolox:hover {
  background: #3787af;
}

.navbar-toggle i {
  color: #3787af;
}

.button-wolox-login {
  border-radius: 1em;
  border: 2px solid #3787af;
  color: #3787af !important;
  padding: 5px 60px;
  cursor: pointer;
}

.long-text-foot {
  font-size: 1.5em;
}

.button-wolox-login:hover {
  background: #3787af !important;
  color: #fff !important;
}

.button-wolox-foot {
  border-radius: 1em;
  border: 2px solid #3787af;
  background: #3787af;
  color: #fff;
  padding: 10px 70px;
  cursor: pointer;
  margin-left: 5%;
}

.text-principal {
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  color: #2e2e2e;
}

.welcome-paragraph {
  font-size: 2.5em;
  margin-top: 15%;
  color: #2e2e2e;
}

.informat {
  margin-left: 8%;
}

.content-row {
  flex-direction: row;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
}

.circle-green {
  height: 25px;
  width: 25px;
  background-color: #a2cf41;
  border-radius: 50%;
  display: inline-block;
}

.circle-black {
  height: 25px;
  width: 25px;
  background-color: #2e2e2e;
  border-radius: 50%;
  display: inline-block;
}

.circle-blue {
  height: 25px;
  width: 25px;
  background-color: #3787af;
  border-radius: 50%;
  display: inline-block;
}

.text-green {
  color: #a2cf41 !important;
  font-weight: 900 !important;
}

.long-text {
  font-size: 2.5em !important;
}

.text-black {
  color: #000 !important;
  font-weight: 900 !important;
}

.text-blue {
  color: #3787af !important;
  font-weight: 900 !important;
}

.paragraph-requirements {
  margin-bottom: 5%;
}

.technologies-paragraph {
  font-size: 2em;
  margin-top: 15%;
  color: #2e2e2e;
  font-weight: 600;
}

.center-paragraph {
  font-size: 2.5em;
  margin-top: 10%;
  color: #2e2e2e;
  font-weight: 700;
  text-align: center;
}

.background-light-blue {
  background: #e8eff2;
}

.navbar {
  font-size: 18px;
  background: transparent;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #2e2e2e;
  font-family: Sans-serif;
  font-weight: 600;
}

.logo {
  margin-top: 1%;
}

.simple-link:hover {
  color: #3787af !important;
}

.logo img {
  width: 150px;
  margin-left: 5%;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #000;
  }
}
