<header class="header">
  <nav class="navbar container">
    <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
      <i class="fa fa-bars"></i>
    </label>
    <a href="#" class="logo"><img src="assets/logo_full_color.svg" /> </a>
    <input type="checkbox" id="chkToggle" />
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="#" class="nav-links simple-link">Inicio</a>
      </li>
      <li>
        <a href="#" class="nav-links simple-link">Tecnologías</a>
      </li>
      <li>
        <a href="#" class="nav-links simple-link">Beneficios</a>
      </li>
      <li>
        <a href="#" class="nav-links simple-link">Requerimientos</a>
      </li>
      <li>
        <a href="#" class="nav-links button-wolox-login">Login</a>
      </li>
    </ul>

    <!-- <ul>
      <li><a href=""></a></li>
      <li><a href="">Inicio</a></li>
      <li><a href="">Tecnologías</a></li>
      <li><a href="">Beneficios</a></li>
      <li><a href="">Requerimientos</a></li>
    </ul> -->
  </nav>

  <div class="box container">
    <div class="content">
      <p class="welcome-paragraph">
        Bienvenido a tu <br />
        <span class="text-black">Entrevista Técnica</span> en <br />
        <span class="text-green">Wolox</span>
      </p>
    </div>

    <div class="content">
      <img
        class="first-img"
        src="assets/Img_Hero/Ic_ilustra_Hero@3x.png"
        alt=""
      />
    </div>
  </div>
</header>

<div class="box container">
  <div class="content">
    <p class="technologies-paragraph">
      Estamos buscando<br />
      para incorporar gente <br />increíeble para estas<br />
      tecnogolías:
    </p>
  </div>

  <div class="content">
    <img class="first-img" src="assets/Ic_Tecnologys.svg" alt="" />
  </div>
</div>

<div class="box">
  <div class="img-text">
    <img src="assets/img_woloxer@3x.png" alt="" />
    <h2>
      <span
        ><span class="text-green long-text">350 +</span>
        <span class="text-blue long-text">Woloxers</span><br /><span
          class="spacer"
        ></span
        ><br />
        <span class="follow">
          <span> <i class="fab fa-twitter"></i> @Wolox</span><br /><br />
          <span class="rigth-button"><a class="button-wolox">Siguenos</a></span>
        </span>
      </span>
    </h2>
  </div>

  <div class="content background-light-blue">
    <p class="center-paragraph">
      Trabajamos para<br />
      <span class="text-blue">convertir </span>
      <span class="text-green">ideas</span> en<br />
      productos
    </p>
  </div>
</div>

<div class="box container">
  <h1 class="text-principal">
    Entre los beneficios que ofrecemos se encuentran
    <span class="text-blue">;)</span>
  </h1>
</div>

<div class="box container-row content-row">
  <div class="content-line">
    <img src="assets/Ic_Hour.svg" alt="" /><br />
    <span class="benefit">Flexibilidad <br />Horaria</span>
  </div>
  <div class="content-line">
    <img src="assets/Ic_HomeOffice.svg" alt="" /><br />
    <span class="benefit">Home Office</span>
  </div>
  <div class="content-line">
    <img src="assets/Ic_Workshops.svg" alt="" /><br />
    <span class="benefit">Capacitaciones <br />y Workshops</span>
  </div>
  <div class="content-line">
    <img src="assets/Ic_DrinkSnacks.svg" alt="" /><br />
    <span class="benefit"
      >Snacks, frutas<br />
      y bebidas gratis</span
    >
  </div>
  <div class="content-line">
    <img src="assets/Ic_laptop.svg" alt="" /><br /><br />
    <span class="benefit"
      >Semana <br />
      Remota</span
    >
  </div>
  <div class="content-line">
    <img src="assets/Ic_brain.svg" alt="" /><br />
    <span class="benefit"
      >Trabajar <br />
      en ultimas<br />
      tecnogolías</span
    >
  </div>
</div>

<div class="box container requirements">
  <div class="content">
    <h1>Requerimientos</h1>
  </div>

  <div class="content">
    <p class="paragraph-requirements">
      <span class="circle-green"></span>&nbsp;&nbsp; Estudiantes avanzados o
      recibidos de carreras de rubro
      <span class="informat">informático, sistemas o electrónicos</span>
    </p>
    <p class="paragraph-requirements">
      <span class="circle-black"></span>&nbsp;&nbsp; Inglés intermedio/avanzado
    </p>

    <p class="paragraph-requirements">
      <span class="circle-blue"></span>&nbsp;&nbsp; Conocimiento en metodologías
      ágiles (deseable)
    </p>
  </div>
</div>
x
<div class="box">
  <div class="img-text-foot">
    <img src="assets/Backgrounds/Bg_Footer.png" alt="" />
    <h2>
      <span class="text-medium-foot"
        ><span class="text-black long-text-foot">Gracias por</span>
        <span class="text-blue long-text-foot">completar el ejercicio</span
        ><br /><span class="spacer"></span> Te invitamos a ver más
        información</span
      ><br /><br />
      <span class="spacer"><a class="button-wolox-foot">Conoce más</a></span>
    </h2>
  </div>
</div>
